.backbtn{
	position: fixed;
	top:10px;
	z-index: 100;
}

.logo{
	height:100%;
}

.showans{
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	top:10px;
}

.ans{
	padding-left: 0px!important;
	padding-top: 30px;
}

.shakeit{
	-webkit-animation:shakeAnimation 0.8s linear 0s;
}

.nav-btn{
	color:rgba(255,0,0,0);
	font-size:50px;
	line-height: 0;
}

.nav-back-btn {
	text-align: left;
}

.nav-home-btn{
	text-align: right;
	padding: 0;
}

.home-btn{
	font-size: 40px !important;
	color: rgba(255,0,0,0);
}

.padding-0px{
	padding:0;	
}

@-webkit-keyframes shakeAnimation{
	0% { -webkit-transform: translate(10px)}
	10% { -webkit-transform: translate(-7px)}
	20% { -webkit-transform: translate(-8px)}
	30% { -webkit-transform: translate(6px)}
	40% { -webkit-transform: translate(8px)}
	50% { -webkit-transform: translate(-8px)}
	60% { -webkit-transform: translate(-10px)}
	70% { -webkit-transform: translate(8px)}
	80% { -webkit-transform: translate(-8px)}
	90% { -webkit-transform: translate(8px)}
	100% { -webkit-transform: translate(1px)}
}


.jumpit{
	-webkit-animation:jumpAnimation 0.8s linear 0s;
}

@-webkit-keyframes jumpAnimation{
	0% { -webkit-transform: translate(0,10px)}
	10% { -webkit-transform: translate(0,-7px)}
	20% { -webkit-transform: translate(0,-8px)}
	30% { -webkit-transform: translate(0,6px)}
	40% { -webkit-transform: translate(0,8px)}
	50% { -webkit-transform: translate(0,-8px)}
	60% { -webkit-transform: translate(0,-10px)}
	70% { -webkit-transform: translate(0,8px)}
	80% { -webkit-transform: translate(0,-8px)}
	90% { -webkit-transform: translate(0,8px)}
	100% { -webkit-transform: translate(0,1px)}
}

.entry_anim{
	-webkit-animation:fade-in 0.8s linear 0s;
}

.entry_anim1{
	-webkit-animation:left-right 0.2s linear 0s;
}

@-webkit-keyframes left-right{
	 0%{-webkit-transform: translate(-100px)}
	 10%{-webkit-transform: translate(-90px)}
	 20%{-webkit-transform: translate(-80px)}
	 30%{-webkit-transform: translate(-70px)}
	 40%{-webkit-transform: translate(-60px)}
	 50%{-webkit-transform: translate(-50px)}
	 60%{-webkit-transform: translate(-40px)}
	 70%{-webkit-transform: translate(-30px)}
	 80%{-webkit-transform: translate(-20px)}
	 90%{-webkit-transform: translate(-10px)}
	 100%{-webkit-transform: translate(0)}
	 
}


@-webkit-keyframes fade-in{
	 0%{-webkit-opacity: 0.0}
	 15%{-webkit-opacity: 0.15}
	 25%{-webkit-opacity: 0.25}
	 35%{-webkit-opacity: 0.35}
	 50%{-webkit-opacity: 0.50}
	 65%{-webkit-opacity: 0.65}
	 85%{-webkit-opacity: 0.85}
	 100%{-webkit-opacity: 1}
}

.centered {
	text-align: center;	
}

.seperator{
	border-top: 1px dashed #c6c6c6;
	padding-top: 10px
}

.lockIco{
	font-size: 25px;
	padding-right: 10px;
}

.app-container{
	width: 100%;	
	height: 100%;
}

