.header{
	height: 50px;
	background: -webkit-linear-gradient(top, rgba(146, 221, 250, 1) 0%,rgba(21, 88, 109, 1) 50%,rgba(9, 58, 77, 1) 100%);
	padding-top: 10px;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	position:fixed;
	z-index: 100;
}

.backbtn{
	position: fixed;
	top:10px;
	z-index: 100;
}

.logo{
	height:100%;
}

.showans{
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	top:10px;
}

.ans{
	padding-left: 0px!important;
	padding-top: 30px;
}

.shakeit{
	-webkit-animation:shakeAnimation 0.8s linear 0s;
}

@-webkit-keyframes shakeAnimation{
	0% { -webkit-transform: translate(10px)}
	10% { -webkit-transform: translate(-7px)}
	20% { -webkit-transform: translate(-8px)}
	30% { -webkit-transform: translate(6px)}
	40% { -webkit-transform: translate(8px)}
	50% { -webkit-transform: translate(-8px)}
	60% { -webkit-transform: translate(-10px)}
	70% { -webkit-transform: translate(8px)}
	80% { -webkit-transform: translate(-8px)}
	90% { -webkit-transform: translate(8px)}
	100% { -webkit-transform: translate(1px)}
}


.jumpit{
	-webkit-animation:jumpAnimation 0.8s linear infinite 0s;
}

@-webkit-keyframes jumpAnimation{
	0% { -webkit-transform: translate(0,10px)}
	10% { -webkit-transform: translate(0,-7px)}
	20% { -webkit-transform: translate(0,-8px)}
	30% { -webkit-transform: translate(0,6px)}
	40% { -webkit-transform: translate(0,8px)}
	50% { -webkit-transform: translate(0,-8px)}
	60% { -webkit-transform: translate(0,-10px)}
	70% { -webkit-transform: translate(0,8px)}
	80% { -webkit-transform: translate(0,-8px)}
	90% { -webkit-transform: translate(0,8px)}
	100% { -webkit-transform: translate(0,1px)}
}


