.header{
	top:0;
	left:0;
	height: 50px;
	background-color:rgb(255, 194, 2);	
	color: #fff;
	text-align: center;
	position:fixed !important;
	z-index: 100;
	border-radius:0 !important;
	border-bottom-right-radius: 20px !important;
	border-bottom-left-radius: 20px !important;
}

.header div{
	font-family:"Lemon";
	font-size:30px;
	line-height: 40px;
}


.grid-cell {
  height: 100px;
  text-align: center;
  padding: 5px; }

.grid-container {
  padding-top: 10px;
  padding-bottom: 10px;
  top: 50px;
  display:none; 
  
}

.grid-image {
  max-height: 72px;
  height: 72px; }
  .grid-image img {
    height: 70px; }
