@font-face{
	font-family: 'Lemon';
	src: url('../fonts/Lemon-Regular.ttf') 
}

.intro-logo{
	top: -20px;
}

.intro{
	padding-left: 15px;
	background: -webkit-linear-gradient(top, #0D3C53 0%,#135A8B 9%,#2787B6 50%,#173E58 82%,#184D74 87%,#101A24 100%);
	border: 2px dashed;
	height: 100%;
}

.intro-play{
	text-align: center;
}

.intro-social-message{
	height:30px;
	text-align: center;
}

.intro-share-section{
	position:fixed;
	margin-top:10px;
	bottom: 1%;
	left:0%
}

.intro-share-section button{
	margin-bottom:10px;
}

.remove-spacing{
	margin:0;
	padding-left:2px;
	padding-right:2px;
}

.padding-2px{
	margin:2px;
}